*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(247, 246, 246);
    font-family: 'Overpass Mono', monospace;
    color: #111010;
}

a
{
    text-decoration: none;
    color: #000000;
}

a:hover
{
    color: #69f0ae;
}

.hide
{
    display: none;
}